pyyaml
opencv-python
scipy
scikit-learn
numpy
matplotlib
torch
torchaudio==2.11.0
pyrealsense2-beta
pyqt6
open3d
ultralytics
timm
funasr==1.2.7
modelscope==1.40.1
sounddevice==0.5.6
soundfile==0.13.1
sentencepiece==0.2.2
git+https://github.com/ChaoningZhang/MobileSAM.git@f706ad9c4eb7f219c00d9050e46328518ffb65d2
